@use '@assets/global' as *;

.container {
  position: relative;
  @include flexbox(column, center, flex-start);
  overflow: hidden;
}

.wrapper {
  @include flexbox(row, flex-start, center);
  color: var(--background-colour);
  font-weight: map-get($font-weights, bold);
  text-decoration: none;
  font-size: map-get($font-sizes, md);
  padding: 0 map-get($spacing, xs);
  gap: map-get($spacing, sm);
}

.imageSmall {
  height: map-get($spacing, xl);
  width: map-get($spacing, xl);
  overflow: hidden;
  object-fit: cover;
  @include border-radius(map-get($percentage, 50));
  border: map-get($border, sm) solid var(--background-colour);
}

.label {
  white-space: nowrap;
  display: none;
  @include font-style();

  @media (min-width: 1024px) and (max-width: 1439px) {
    display: block;
  }
}