@use '@assets/global' as *;

.link,
.link:hover,
.active {
    @include flexbox(row, center, center);
    padding: $spacing-2xs $spacing-sm;
    text-decoration: none;
    color: var(--text-colour);
    height: $spacing-xl;

    &:hover,
    &.active {
        @include border-radius($spacing-lg);
        width: auto;
    }

    &:hover {
        background-color: var(--grey);
    }

    &.active {
        background-color: var(--background-colour);
    }
}

.icon {
    @include flexbox();
    color: var(--black-colour);

    .active & {
        @include font-style($font-md, $font-weight-medium, var(--accent-colour));
    }
}

.label {
    @include flexbox(row, center, center);
    @include font-style($font-md, $font-weight-medium, var(--text-colour));
    margin-left: $spacing-xs;
    display: none;

    .active & {
        @include font-style($font-md, $font-weight-medium, var(--accent-colour));
    }

    @include breakpoint('tablet-landscape') {
        display: block;
    }

    @include breakpoint('desktop') {
        display: block;
    }
}