@use '@assets/global' as *;

.link {
    @include flexbox(row, center, center);
    @include size(auto, map-get($spacing, xl));
    padding: map-get($spacing, '2xs') map-get($spacing, sm);
    text-decoration: none;
    color: var(--text-colour);

    &:hover,
    &.active {
        @include border-radius(map-get($spacing, lg));
        width: auto;
    }

    &:hover {
        background-color: var(--grey);
    }

    &.active {
        background-color: var(--background-colour);
    }
}

.icon {
    @include flexbox();
    color: var(--text-colour);

    .active & {
        @include font-style(map-get($font-sizes, md), map-get($font-weights, medium), var(--accent-colour));
    }
}

.label {
    @include flexbox(row, center, center);
    @include font-style(map-get($font-sizes, md), map-get($font-weights, medium), var(--text-colour));
    margin-left: map-get($spacing, xs);
    display: none;

    .active & {
        color: var(--accent-colour);
    }

    @media (min-width: 1024px) {
        display: block;
    }
}