@use '@assets/global' as *;

.container {
  gap: $spacing-xs;
  background-color: var(--light-grey);
  @include border-radius($spacing-lg);
  @include flexbox(row, space-between, center);
}

.padding {
  padding: $spacing-3xs $spacing-lg;
}