# Node.js
## Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

## Dependency directories
/node_modules

## Build output
/dist
/dev-dist
/dist-ssr

## Environment files
*.local

# IDE - Visual Studio Code
.vscode/

# IDE - Project IDX
.idx/

# Allow extensions.json for sharing recommended extensions
!.vscode/extensions.json

# IDE - Visual Studio
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln

# IDE - JetBrains
.idea/

# IDE - Others
*.idx
*.sw?

# OS Files
.DS_Store

# Linters
.eslintcache
*storybook.log