<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <!-- Add other file extensions as needed -->
    </staticContent>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="JsonHandler" path="*.json" verb="*" type="System.Web.StaticFileHandler" resourceType="File" />
    </handlers>
  </system.webServer>
</configuration>