<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ManifestJSON" >
          <match url="manifest.json" />
          <action type="Rewrite" url="/manifest.json" />
        </rule>
        <rule name="TranslationJSON" stopProcessing="true">
          <match url="locales/(en|es)/translation.json" />
          <action type="Rewrite" url="locales/{R:1}/translation.json" />
        </rule>
      <rule name="React Routes" >
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <!-- Add other file extensions as needed -->
    </staticContent>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="JsonHandler" path="*.json" verb="*" type="System.Web.StaticFileHandler" resourceType="File" />
    </handlers>
  </system.webServer>
</configuration>