<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ManifestJSON" >
          <match url="manifest.json" />
          <action type="Rewrite" url="/manifest.json" />
        </rule>
        <rule name="TranslationJSON" >
          <match url="locales/en-US/translation.json" />
          <action type="Rewrite" url="locales/en-US/translation.json" />
          <match url="locales/es-ES/translation.json" />
          <action type="Rewrite" url="locales/es-ES/translation.json" />
        </rule>
      </rules>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <!-- Add other file extensions as needed -->
    </staticContent>
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="JsonHandler" path="*.json" verb="*" type="System.Web.StaticFileHandler" resourceType="File" />
    </handlers>
  </system.webServer>
</configuration>