@use '@assets\/_colours.scss' as *;

.container {
    display: flex;
    height: fit-content;
    justify-content: center;
    padding: $large-padding-base;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(var(--white-colour), var(--black-colour));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1000;
}