@use '@assets\/global' as *;

.button {
  margin: $spacing-md;
  padding: $spacing-xs $spacing-md;
  background-color: var(--background-colour);
  color: $white;
  border-radius: border-radius();
  border: $border-xs solid $white;
  cursor: pointer;
  transition: transition(border-color);
}

.label {
  @include font-style($font-md, $font-weight-medium, var(--text-colour));
}

.button:hover {
  border: $border-xs solid $white;
  filter: drop-shadow(0 0 $spacing-lg) $white;
}

.content {
  @include flexbox(row, flex-start, center);
}

.icon {
  padding-right: $spacing-md;
}