@use '@assets\/global' as *;

.button {
  margin: $spacing-md;
  padding: $spacing-xs $spacing-md;
  background-color: var(--background-colour);
  border: $border-xs solid var(--grey);
  cursor: pointer;
  @include transition(border-color);
  @include border-radius($border-3xl);
}

.label {
  @include font-style($font-md, $font-weight-medium, var(--accent-colour));
}

.button:hover {
  border: $border-xs solid var(--accent-colour);
  filter: drop-shadow(0 0 $spacing-lg var(--accent-colour));
}

.content {
  @include flexbox(row, flex-start, center);
  height: $font-md;
}