@use '@assets\/_colours.scss' as *;
@use '@assets\/_fonts.scss' as *;

.button {
  margin: var(--medium-margin-base);
  padding: var(--small-padding-base) var(--medium-padding-base);
  font-size: var(--medium-font-size-base);
  background-color: var(--background-colour);
  color: var(--primary-text-sidebar-canvas);
  border-radius: var(--medium-base);
  border: var(--border-size) solid var(--sidebar-canvas);
  cursor: pointer;
  transition: border-color 0.5s;
}

.label {
  color: var(--text-colour);
}

.button:hover {
  border: var(--border-size) solid var(--primary-text-sidebar-canvas);
  filter: drop-shadow(0 0 var(--medium-base) var(--primary-text-sidebar-canvas));
}

.content {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: var(--medium-base);
}