@use '@assets\/_colours.scss' as *;
@use '@assets\/_fonts.scss' as *;

.button {
  margin: $medium-margin-base;
  padding: $small-padding-base $medium-padding-base;
  font-size: $medium-font-size-base;
  background-color: var(--background-colour);
  color: var(--primary-text-sidebar-canvas);
  border-radius: $medium-base;
  border: $border-size solid var(--sidebar-canvas);
  cursor: pointer;
  transition: border-color 0.5s;
}

.label {
  color: var(--text-colour);
}

.button:hover {
  border: $border-size solid var(--sidebar-canvas);
  filter: drop-shadow(0 0 $medium-base) var(--sidebar-canvas);
}

.content {
  display: flex;
  align-items: center;
}

.icon {
  padding-right: $medium-base;
}