@use '@assets\/global' as *;

.button {
  height: calc($spacing-xl + $spacing-3xs);
  width: $spacing-3xl;
  line-height: calc($spacing-xl + $spacing-3xs);
  margin: $spacing-md;
  padding: $spacing-xs $spacing-md;
  background-color: var(--background-colour);
  border: $border-xs solid var(--grey);
  cursor: pointer;
  @include transition(border-color);
  @include border-radius($border-3xl);
}

.label {
  @include font-style($font-md, $font-weight-medium, var(--secondary-colour));
}

.button:hover {
  border: $border-xs solid var(--secondary-colour);
  filter: drop-shadow(0 0 $spacing-lg var(--secondary-colour));
}

.content {
  @include flexbox(row, center, center);
  height: 100%;
}