@use '@assets\/_colours.scss' as *;

.iconLink {
  height: 1.5rem;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
}

.iconLink__icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 1rem;
  color: var(--primary-colour);
}

.iconLink__icon:hover {
  color: var(--accent-colour);
}

.iconLink__label {
  padding-right: 1rem;
  color: var(--text-colour);
}