@use '@assets/global' as *;

.container {
  height: 100%;
  @include flexbox(row, center, center);
}

.spinner {
  border: map-get($spacing, sm) var(--accent-colour) double;
  border-left-style: solid;
  animation: spin map-get($transition, medium) infinite linear;
  @include border-radius(map-get($percentage, 50));
}

.auto {
  @include size(auto, auto);
}

.small {
  @include size(map-get($spacing, '2xl'), map-get($spacing, '2xl'));
}

.medium {
  @include size(map-get($spacing, '3xl'), map-get($spacing, '3xl'));
}

.large {
  @include size(map-get($spacing, '4xl'), map-get($spacing, '4xl'));
}