@use '@assets\/_colours.scss' as *;

.container {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: $small-spinner-size;
  height: $small-spinner-size;
  border: $spinner-border-size var(--accent-colour) double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-animation 0.75s infinite linear;
}

.small {
  width: $small-spinner-size;
  height: $small-spinner-size;
}

.medium {
  width: $medium-spinner-size;
  height: $medium-spinner-size;
}

.large {
  width: $large-spinner-size;
  height: $large-spinner-size;
}

@keyframes spinner-animation {
  to {
    transform: rotate(360deg);
  }
}