@use '@assets\/_colours.scss' as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: $large-padding-base;
  background-color: var(--sidebar-canvas);
}

.copyright {
  color: var(--text-colour);
  padding-top: $small-padding-base;
  font-size: $small-font-size-base;
}