@use '@assets\/_colours.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.body {
  overflow: auto;
}