@use '@assets/global' as *;

.container {
  @include flexbox(column, center, center);
  @include size(map-get($percentage, 100), map-get($percentage, 100));
  background-color: var(--background-colour);
  @include transition(background-color map-get($transition, fast) ease);
}

.content {
  @include flexbox(row);
  position: relative;
  overflow: hidden;
  flex: 1;
  padding-top: map-get($spacing, xl);
  width: map-get($percentage, 100);
  background-color: var(--background-colour);
  animation: fadeIn map-get($transition, medium) ease-in-out;
}