@use '@assets\/_colours.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-canvas);
  color: var(--primary-text-light-canvas);
  padding: var(--large-padding-base);
}

.header {
  display: inline-flex;
}

.header__title {
  display: flex;
}

.description {
  display: flex;
}