@use '@\/_colours.scss' as *;

.footer__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--background-grey);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-colour);
}
