@use '@assets/global' as *;

.container {
  margin-left: $spacing-md;
  position: relative;
  padding: $spacing-2xs $spacing-xs;
  cursor: pointer;
  @include size(calc($spacing-xl + $spacing-xs), calc($spacing-xl + $spacing-xs));
  @include box-shadow($spacing-0, $spacing-0, $spacing-sm, $spacing-3xs, var(--text-colour));
  @include border-radius($spacing-xl);
  @include flexbox(row, center, center);
}

.light {
  background-color: $black;
}

.dark {
  background-color: $white;
}

.container input {
  display: none;
}

.container input + div {
  position: relative;
  box-shadow: inset $spacing-xs calc(-1 * $spacing-xs) $spacing-0 $spacing-0
    $white;
  transform: scale(1) rotate(-2deg);
  transition:
    box-shadow $transition-medium ease $transition-0,
    transform $transition-medium ease $transition-0;
  @include size(calc($spacing-md + $spacing-2xs), calc($spacing-md + $spacing-2xs));
  @include border-radius(50%);
}

.container input + div::before {
  content: '';
  position: absolute;
  left: $spacing-0;
  top: $spacing-0;
  transition: background $transition-fast ease;
  @include size(inherit, inherit);
  @include border-radius(inherit);
}

.container input + div::after {
  content: '';
  margin: calc(-1 * $spacing-3xs) $spacing-0 $spacing-0 calc(-1 * $spacing-3xs);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow:
    $spacing-0 calc(-1 * $spacing-sm) $spacing-0 $black,
    $spacing-0 $spacing-sm $spacing-0 $black,
    $spacing-sm $spacing-0 $spacing-0 $black,
    calc(-1 * $spacing-sm) $spacing-0 $spacing-0 $black,
    $spacing-xs $spacing-xs $spacing-0 $black,
    calc(-1 * $spacing-xs) $spacing-xs $spacing-0 $black,
    $spacing-xs calc(-1 * $spacing-xs) $spacing-0 $black,
    calc(-1 * $spacing-xs) calc(-1 * $spacing-xs) $spacing-0 $black;
  transform: scale(0);
  transition: all $transition-fast ease;
  @include size($spacing-2xs, $spacing-2xs);
  @include border-radius(50%);
}

.container input:checked + div {
  box-shadow: inset $spacing-xl calc(-1 * $spacing-xl) $spacing-0 $spacing-0 $black;
  transform: scale(0.5) rotate(0deg);
  transition:
    box-shadow $transition-medium ease $transition-0,
    transform $transition-medium ease $transition-0;
}

.container input:checked + div::before {
  background: $black;
  transition: background $transition-fast ease $transition-0;
}

.container input:checked + div::after {
  transform: scale(1.5);
  transition: transform $transition-medium ease $transition-0;
}
