@use '@assets/global' as *;

.toggle {
    width: calc($spacing-2xl);
    height: $spacing-lg;
    background-color: var(--light-grey);
    padding: $spacing-2xs;
    cursor: pointer;
    @include flexbox(row, center, center);
    -webkit-user-select: none;
    user-select: none;
    @include border-radius($spacing-4xl);
}

.toggle[data-ison="true"] {
    background-color: var(--accent-colour);
}

.thumb {
    width: $spacing-lg;
    height: $spacing-lg;
    background-color: var(--background-colour);
    @include border-radius($percentage-100);
}

.iconLeft {
    width: $spacing-lg;
    height: $spacing-lg;
    color: $grey-2;
    padding-right: $spacing-sm;
}

.iconRight {
    width: $spacing-lg;
    height: $spacing-lg;
    color: var(--accent-colour);
    padding-left: $spacing-sm;
}

.disabled {
    cursor: not-allowed;
    display: none;
}