@use '@assets/global' as *;

.container {
  margin-left: $spacing-md;
  position: relative;
  padding: $spacing-2xs $spacing-xs;
  cursor: pointer;
  @include size(
    calc($spacing-xl + $spacing-xs),
    calc($spacing-xl + $spacing-xs)
  );
  @include box-shadow(
    $spacing-0,
    $spacing-0,
    $spacing-sm,
    $spacing-3xs,
    var(--text-colour)
  );
  @include border-radius($spacing-xl);
  @include flexbox(row, center, center);
}

.toggle[data-ison='true'] {
  background-color: var(--accent-colour);
  justify-content: flex-end;
}

.switch {
  background-color: var(--background-colour);
  @include border-radius($percentage-100);
  @include size($spacing-md, $spacing-md);
}

.iconLeft {
  color: $grey-2;
  padding-right: $spacing-sm;
  @include size($spacing-lg, $spacing-lg);
}

.iconRight {
  color: var(--accent-colour);
  padding-left: $spacing-sm;
  @include size($spacing-lg, $spacing-lg);

}

.disabled {
  cursor: not-allowed;
  display: none;
}
