@use '@assets/global' as *;

.container {
  @include flexbox(row, center, center);
  @include size(calc(map-get($spacing, xl) + map-get($spacing, xs)));
  @include box-shadow(map-get($spacing, 0), map-get($spacing, 0), map-get($spacing, sm), map-get($spacing, '3xs'), var(--text-colour));
  @include border-radius(map-get($spacing, xl));
  position: relative;
  margin-left: map-get($spacing, md);
  padding: map-get($spacing, '2xs') map-get($spacing, xs);
  cursor: pointer;
}

.toggle[data-ison='true'] {
  background-color: var(--accent-colour);
  justify-content: flex-end;
}

.switch {
  @include size(map-get($spacing, md));
  @include border-radius(map-get($percentage, 100));
  background-color: var(--background-colour);
}

.icon {
  @include size(map-get($spacing, lg));
  padding-right: map-get($spacing, sm);

  &Left {
    @extend .icon;
    color: map-get($grey, 2);
  }

  &Right {
    @extend .icon;
    color: var(--accent-colour);
    padding-right: 0;
    padding-left: map-get($spacing, sm);
  }
}

.disabled {
  cursor: not-allowed;
  display: none;
}
