@use '@assets/global' as *;

.toggle {
    background-color: var(--light-grey);
    padding: $spacing-2xs;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    @include flexbox(row, flex-start, center);
    @include border-radius($spacing-4xl);
    @include size($spacing-2xl, $spacing-lg);
}

.toggle[data-ison="true"] {
    background-color: var(--accent-colour);
    justify-content: flex-end;
}

.switch {
    background-color: var(--background-colour);
    @include border-radius($percentage-100);
    @include size($spacing-md, $spacing-md);
}