@use '@assets/global' as *;

.container {
    @include flexbox(row, center, center);
}

.label {
    margin-right: $spacing-sm;
    @include font-style($font-md, $font-weight-medium, var(--text-colour));
}

.toggle {
    width: $spacing-2xl;
    height: $spacing-lg;
    background-color: var(--light-grey);
    padding: $spacing-2xs;
    cursor: pointer;
    @include flexbox(row, 'flex-start');
    -webkit-user-select: none;
    user-select: none;
    @include border-radius($spacing-4xl);
}

.toggle[data-ison="true"] {
    background-color: var(--accent-colour);
    justify-content: flex-end;
}

.switch {
    width: $spacing-lg;
    height: $spacing-lg;
    background-color: var(--background-colour);
    @include border-radius($percentage-100);
}