$breakpoints: (
  'mobile-landscape': (min: 480px, max: 767px),
  'tablet': (min: 768px, max: 991px),
  'tablet-landscape': (min: 992px, max: 1199px),
  'desktop': (min: 1200px)
);

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    $min: map-get($breakpoint, min);
    $max: map-get($breakpoint, max);

    @if $max {
      @media (min-width: #{$min}) and (max-width: #{$max}) {
        @content;
      }
    } @else {
      @media (min-width: #{$min}) {
        @content;
      }
    }
  } @else {
    @content;
  }
}