// Colours
// Primary
$primary-1: #e34c26;
$primary-2: #fa7575;
$primary-3: #fa7575;

// Secondary
$secondary-1: #646cff;
$secondary-2: #2dc4eb;
$secondary-3: #2dc4eb;

// Whites
$white: #ffffff;

// Blacks
$black: #1a1a1a;

// Greys
$grey-1: #d2dfec;
$grey-2: #bcc6d2;
$grey-3: #d1dfec;
$grey-4: #414e5c;
$grey-5: #5c5c66;
$grey-6: #5f6974;

// Colour scheme
$colour-scheme-light: light;
$colour-scheme-dark: dark;