// Colours
// Primary
$primary: (
  1: #e34c26,
  2: #fa7575,
  3: #fa7575
);

// Secondary
$secondary: (
  1: #646cff,
  2: #2dc4eb,
  3: #2dc4eb
);

// Neutrals
$white: #ffffff;
$black: #1a1a1a;

// Greys
$grey: (
  1: #d2dfec,
  2: #bcc6d2,
  3: #d1dfec,
  4: #414e5c,
  5: #5c5c66,
  6: #5f6974
);

// Colour scheme
$colour-scheme: (
  light: light,
  dark: dark
);