// Base spacing unit
$spacing-base: 1rem;
$border-base: 0.25rem;

// Spacing
$spacing: (
  0: 0,
  '3xs': $spacing-base * 0.125,
  '2xs': $spacing-base * 0.25,
  xs: $spacing-base * 0.5,
  sm: $spacing-base * 0.75,
  md: $spacing-base,
  lg: $spacing-base * 1.5,
  xl: $spacing-base * 2,
  '2xl': $spacing-base * 4,
  '3xl': $spacing-base * 8,
  '4xl': $spacing-base * 12,
);

// Border Sizes
$border: (
  xs: $border-base * 0.25,
  sm: $border-base * 0.5,
  md: $border-base,
  lg: $border-base * 2,
  xl: $border-base * 3,
  '2xl': $border-base * 4,
  '3xl': $border-base * 6,
  '4xl': $border-base * 8,
);

// Percentage
$percentage: (
  0: 0%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

// Transitions
$transition: (
  0: 0s,
  fast: 0.2s,
  medium: 0.5s,
  slow: 1s,
);

// Z-Index
$z-index: (
  background: -1,
  default: 1,
  top: 1000,
);
