$font-label: 'Frutiger Condensed', Arial, 'sans-serif';
$font-main: 'Frutiger', Arial, 'sans-serif';
$font-weight-light: 100;
$font-weight-regular: normal;
$font-weight-bold: bold;
$font-weight-black: 900;



// 100
// Thin (Hairline)
// 200
// Extra Light (Ultra Light)
// 300
// Light
// 400
// Normal (Regular)
// 500
// Medium
// 600
// Semi Bold (Demi Bold)
// 700
// Bold
// 800
// Extra Bold (Ultra Bold)
// 900
// Black (Heavy)
// 950
// Extra Black (Ultra Black)