// font families
$font-label: "Montserrat", sans-serif;
$font-main: "Montserrat", sans-serif;

// font weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$font-weight-extra-black: 950;

//font heights
$font-height-small: 1;
$font-height-normal: 1.5;
$font-height-large: 2;
