@use './_colours.scss' as *;
@use './_fonts.scss' as *;
@use './_breakpoints.scss' as *;

:root {
  font-family: $font-main;
  line-height: $font-height-normal;
  font-weight: $font-weight-regular;

  color-scheme: $colour-scheme;
  color: $white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
