.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.sidebarContent__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.sidebarContent__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
